body {
    font-family: Verdana;
    background-color: black;
    color: white;
    text-align: center;
}


header h1 {
    font-size: 50px;
    font-weight: normal;
}

.download {
    font-size: 16px;
    color: aquamarine;
    font-weight: bold;
}

.description h1 {
    font-size: 42px;
    font-weight: 300;
}

.description h4 {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}